<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
        bootstrap="./vendor/autoload.php"
        colors="auto"
>

    <testsuites>
        <testsuite name="ErrorDumper Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/Awesomite/ErrorDumper</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>

    <listeners>
        <listener class="\Awesomite\ErrorDumper\TestListener" file="tests/Awesomite/ErrorDumper/TestListener.php">
        </listener>
    </listeners>
</phpunit>