{% set arguments = step.getArguments() %}

<div class="card-body">
    {% set argumentsTab = arguments|length > 0 and not step.hasPlaceInCode() %}
    {% if arguments|length > 0 %}
        <ul class="nav nav-tabs" >
            <li class="nav-item">
                <a class="nav-link{{ argumentsTab ? '' : ' active' }}" href="#source-{{ stepKey }}" data-toggle="tab">Source</a>
            </li>
            <li class="nav-item">
                <a class="nav-link{{ argumentsTab ? ' active' }}" href="#params-{{ stepKey }}" data-toggle="tab">Arguments</a>
            </li>
        </ul>
    {% endif %}
    <div>
        <div class="tab-content">
            {% include 'exception-step-body-source_code.twig' %}
            {% if arguments|length > 0 %}
                {% include 'exception-step-body-arguments.twig' %}
            {% endif %}
        </div>
    </div>
</div>
